.search_input {
    width: 80%;
    height: 40px;
    font-size: 30px;
    border-radius: 7px;
    border: 1px solid #2B353A;
    font-family: "BebasNeue_Book";
    padding-left: 10px;
}

.search_btn {
    width: 15%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #2B353A;
    font-size: 30px;
    font-family: "BebasNeue_Book";
}

.searchTitle {
    font-size: 25px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.searchItem {
    margin: 15px 0 15px 0;
    border: 1px solid #2B353A;
    padding: 20px;
}

.searchItemTitle {
    font-size: 20px;
}