@font-face {
  font-family: 'BebasNeue_Bold';
  src: url("../fonts/BebasNeue_Bold.eot");
  src: url("../fonts/BebasNeue_Bold.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Bold.woff2") format("woff2"), url("../fonts/BebasNeue_Bold.woff") format("woff"), url("../fonts/BebasNeue_Bold.ttf") format("truetype"), url("../fonts/BebasNeue_Bold.svg#BebasNeue_Bold") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Light';
  src: url("../fonts/BebasNeue_Light.eot");
  src: url("../fonts/BebasNeue_Light.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Light.woff2") format("woff2"), url("../fonts/BebasNeue_Light.woff") format("woff"), url("../fonts/BebasNeue_Light.ttf") format("truetype"), url("../fonts/BebasNeue_Light.svg#BebasNeue_Light") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Regular';
  src: url("../fonts/BebasNeue_Regular.eot");
  src: url("../fonts/BebasNeue_Regular.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Regular.woff2") format("woff2"), url("../fonts/BebasNeue_Regular.woff") format("woff"), url("../fonts/BebasNeue_Regular.ttf") format("truetype"), url("../fonts/BebasNeue_Regular.svg#BebasNeue_Regular") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Book';
  src: url("../fonts/BebasNeue_Book.eot");
  src: url("../fonts/BebasNeue_Book.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Book.woff2") format("woff2"), url("../fonts/BebasNeue_Book.woff") format("woff"), url("../fonts/BebasNeue_Book.ttf") format("truetype"), url("../fonts/BebasNeue_Book.svg#BebasNeue_Book") format("svg"); }
.fotorama__arr {
  width: 28px !important;
  height: 44px !important;
  background: url("../img/Layer-48.png") !important;
  background-repeat: no-repeat !important;
  display: block !important;
  -webkit-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; }
  .fotorama__arr--next {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    right: 5% !important; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/Layer-48-1.png") !important;
    background-repeat: no-repeat !important;
    left: 5% !important;
    -webkit-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; }
  .fotorama__arr--disabled {
    display: block !important;
    opacity: 0 !important; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1 !important; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__nav-wrap {
  margin-top: -60px !important;
  height: 60px !important; }

.fotorama__dot {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #fff !important; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px !important;
  height: 10px;
  background-color: #FFF !important;
  border: none !important;
  border: 1px solid #fff !important; }

.fotorama__arr--prev .fotorama__arr--disabled {
  display: block !important; }

.fotorama__arr.fotorama__arr--next.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

.fotorama__arr.fotorama__arr--prev.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

html {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 100%; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 1200px;
  font-family: "BebasNeue_Regular"; }

.contain {
  width: 1170px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .contain:after {
    display: table;
    content: " "; }
  .contain:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

b {
  font-family: "BebasNeue_Bold"; }

.button-buy {
  display: inline-block;
  background-image: url("../img/marker20.png");
  width: 25px;
  height: 23px;
  margin: 0 25px; }
  .button-buy:hover {
    background-image: url("../img/marker20-1.png"); }

.button-search {
  display: inline-block;
  background-image: url("../img/magnifier13.png");
  width: 23px;
  height: 23px; }
  .button-search:hover {
    background-image: url("../img/magnifier13-1.png"); }

.navigation {
  float: right;
  display: block;
  margin-right: 5%; }
  .navigation ul {
    list-style-type: none;
    padding: 0;
    transition: all .3s ease .15s;
    display: inline-block; }
    .navigation ul li {
      display: inline-block;
      padding-left: 30px;
      transition: all .3s ease .15s; }
      .navigation ul li a {
        text-transform: uppercase;
        font-size: 24px;
        font-family: "BebasNeue_Book";
        font-weight: bold;
        color: #FFF; }
        .navigation ul li a:hover {
          color: #38BBDD; }

.header {
  position: absolute;
  top: 50px;
  display: block;
  width: 100%;
  z-index: 9; }

.entry {
  display: block;
  width: 100%;
  position: relative;
  height: 750px;
  background-image: url("../img/entry.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  z-index: 0; }
  .entry__text {
    position: absolute;
    top: 225px;
    width: 50%;
    right: 5%;
    color: #FFF; }
    .entry__text h1 {
      font-size: 86px;
      font-family: "BebasNeue_Bold";
      text-align: right;
      margin-bottom: 0; }
    .entry__text h3 {
      font-family: "BebasNeue_Light";
      font-size: 52px;
      text-align: right;
      margin: 0 0 10px 0; }
    .entry__text p {
      margin: 0;
      font-size: 28px;
      font-family: "BebasNeue_Book"; }
      .entry__text p span {
        display: block;
        font-size: 30px; }

.aboutme {
  display: inline-block;
  width: 100%;
  position: relative;
  background-image: url("../img/Vector-Smart Object.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: 65%;
  -o-background-size: 65%;
  background-size: 65%;
  padding: 115px 0; }
  .aboutme__text {
    display: block;
    float: left;
    width: 30%;
    padding-left: 5%; }
    .aboutme__text h3 {
      color: #2c2d37;
      font-size: 30px;
      margin: 20px 0; }
    .aboutme__text p {
      color: #4f4f51;
      font-size: 16px;
      font-family: "BebasNeue_Book";
      font-weight: bold; }
    .aboutme__text a {
      display: block;
      float: left;
      color: #fff;
      font-family: "Myriad Pro";
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      width: 124px;
      height: 36px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #35ade9;
      line-height: 36px;
      text-decoration: none;
      margin-top: 25px; }
      .aboutme__text a:hover {
        background-color: #1795d4; }
    .aboutme__text--line {
      display: block;
      float: left;
      background-image: url("../img/waves-copy.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 92px;
      height: 7px; }
  .aboutme__photo {
    display: block;
    float: left;
    position: relative;
    width: 55%;
    height: 350px;
    padding: 0 5%; }
    .aboutme__photo--front {
      position: absolute;
      overflow: hidden;
      width: 318px;
      height: 318px;
      z-index: 9;
      bottom: 0;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .aboutme__photo--front:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .aboutme__photo--front img {
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
    .aboutme__photo--back {
      position: absolute;
      overflow: hidden;
      width: 650px;
      height: 459px;
      right: 5%;
      top: -160px; }

.services {
  display: inline-block;
  width: 100%;
  background-color: #2E3B47;
  padding: 75px 0; }

/*# sourceMappingURL=style.css.map */
