@font-face {
  font-family: 'BebasNeue_Bold';
  src: url("../fonts/BebasNeue_Bold.eot");
  src: url("../fonts/BebasNeue_Bold.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Bold.woff2") format("woff2"), url("../fonts/BebasNeue_Bold.woff") format("woff"), url("../fonts/BebasNeue_Bold.ttf") format("truetype"), url("../fonts/BebasNeue_Bold.svg#BebasNeue_Bold") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Light';
  src: url("../fonts/BebasNeue_Light.eot");
  src: url("../fonts/BebasNeue_Light.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Light.woff2") format("woff2"), url("../fonts/BebasNeue_Light.woff") format("woff"), url("../fonts/BebasNeue_Light.ttf") format("truetype"), url("../fonts/BebasNeue_Light.svg#BebasNeue_Light") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Regular';
  src: url("../fonts/BebasNeue_Regular.eot");
  src: url("../fonts/BebasNeue_Regular.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Regular.woff2") format("woff2"), url("../fonts/BebasNeue_Regular.woff") format("woff"), url("../fonts/BebasNeue_Regular.ttf") format("truetype"), url("../fonts/BebasNeue_Regular.svg#BebasNeue_Regular") format("svg"); }
@font-face {
  font-family: 'BebasNeue_Book';
  src: url("../fonts/BebasNeue_Book.eot");
  src: url("../fonts/BebasNeue_Book.eot") format("embedded-opentype"), url("../fonts/BebasNeue_Book.woff2") format("woff2"), url("../fonts/BebasNeue_Book.woff") format("woff"), url("../fonts/BebasNeue_Book.ttf") format("truetype"), url("../fonts/BebasNeue_Book.svg#BebasNeue_Book") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight") format("svg"); }
.fotorama__arr {
  width: 30px !important;
  height: 54px !important;
  background: url("../img/arrow395-next.png") !important;
  background-repeat: no-repeat !important;
  display: block !important;
  -webkit-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; }
  .fotorama__arr--next {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    right: 3% !important; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/arrow395.png") !important;
    background-repeat: no-repeat !important;
    left: 3% !important;
    -webkit-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; }
  .fotorama__arr--disabled {
    display: block !important;
    opacity: 0 !important; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1 !important; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__arr--prev .fotorama__arr--disabled {
  display: block !important; }

.fotorama__arr.fotorama__arr--next.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

.fotorama__arr.fotorama__arr--prev.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

* {
  padding: 0;
  margin: 0; }

html {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 100%; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 1200px;
  font-family: "BebasNeue_Regular"; }

.contain, .services__container, .contactme {
  width: 1170px;
  display: block;
  margin: 0 auto;
  position: relative; }
  .contain:before, .services__container:before, .contactme:before, .contain:after, .services__container:after, .contactme:after {
    display: table;
    content: " "; }
  .contain:after, .services__container:after, .contactme:after {
    clear: both; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

b {
  font-family: "BebasNeue_Bold"; }

.block_title {
  color: #f7f7f7;
  font-family: "BebasNeue_Bold";
  font-size: 42px;
  text-align: center;
  margin-top: 15px; }

.block_descript {
  font-family: "BebasNeue_Light";
  font-size: 35px;
  text-align: center;
  color: #f7f7f7;
  font-weight: 200; }

#bbpress-forums {
  font-family: Arial; }



.button-search {
  display: inline-block;
  background-image: url("../img/magnifier13.png");
  width: 23px;
  height: 23px; }
  .button-search:hover {
    background-image: url("../img/magnifier13-1.png"); }

.button-buy {
  display: inline-block;
  color: white;
  font-size: 25px;
  width: 65px;
  height: 23px;
  margin: 0 25px;
  text-decoration: none;}
.button-buy:hover{
  color: #38BBDD;
}

.button-search {
  display: inline-block;
  background-image: url("../img/magnifier13.png");
  width: 23px;
  height: 23px; }
  .button-search:hover {
    background-image: url("../img/magnifier13-1.png"); }

.phone_number {
  background-image: url("../img/iPhone-potrait.png");
  background-position: 0 50%; }

.email_adress {
  background-image: url("../img/email.png");
  background-position: 0 50%; }

.tw {
  background-image: url("../img/Twitter.png"); }
  .tw:hover {
    background-image: url("../img/Twitter-1.png"); }

.fb {
  background-image: url("../img/Facebook.png"); }
  .fb:hover {
    background-image: url("../img/Facebook-1.png"); }

.pn {
  background-image: url("../img/Pinterest.png"); }
  .pn:hover {
    background-image: url("../img/Pinterest-1.png"); }

.gp {
  background-image: url("../img/Google.png"); }
  .gp:hover {
    background-image: url("../img/Google-1.png"); }

a#go_serv {
  display: block;
  position: relative;
  top: -49px; }

a#go_store {
  display: block;
  position: relative;
  top: -70px; }

a#go_materials {
  display: block;
  position: relative;
  top: -60px; }

a#go_contacts {
  display: block;
  position: relative;
  top: -55px; }

a#go_about {
  display: block;
  position: relative;
  top: -110px; }

span.wpcf7-not-valid-tip {
  display: none; }

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  margin-top: 55px; }

textarea#bbp_topic_content {
  border: 1px solid #dedede; }

.navigation {
  float: right;
  display: block;
  margin-right: 5%; }
  .navigation ul {
    list-style-type: none;
    padding: 0;
    transition: all .3s ease .15s;
    display: inline-block;
    margin: 0; }
    .navigation ul li {
      display: inline-block;
      padding-left: 30px;
      transition: all .3s ease .15s; }
      .navigation ul li a {
        text-transform: uppercase;
        font-size: 24px;
        font-family: "BebasNeue_Book";
        font-weight: bold;
        color: #FFF; }
        .navigation ul li a:hover {
          color: #38BBDD; }

.header, .header--page {
  position: fixed;
  top: 40px;
  display: block;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.header--onScroll {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  padding: 10px 0;
  background-color: #2E3B47;
  z-index: 99; }

.header--page {
  position: relative;
  display: inline-block;
  top: 0;
  padding: 10px 0;
  background-color: #2E3B47; }

@media only screen and (max-width: 1200px) {
  .header, .header--page {
    position: absolute;
    width: 1170px; }

  .header--onScroll {
    position: absolute;
    width: 1170px;
    top: 40px; } }
.entry {
  display: block;
  width: 100%;
  position: relative;
  height: 750px;
  background-image: url("../img/entry-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  z-index: 0; }
  .entry__text {
    position: absolute;
    top: 225px;
    width: 50%;
    right: 5%;
    color: #FFF; }
    .entry__text h1 {
      font-size: 86px;
      font-family: "BebasNeue_Bold";
      text-align: right;
      margin-bottom: 0;
      letter-spacing: 2px; }
    .entry__text h3 {
      /*font-family: "BebasNeue_Light";*/
      font-size: 40px;
      text-align: right;
      margin: 0 0 10px 0; }
    .entry__text p {
      margin: 35px 0 0;
      font-size: 34px;
      font-family: "BebasNeue_Book";
      float: right; }

.aboutme {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: #F5F4F4;
  background-image: url("../img/Vector-Smart Object.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: 65%;
  -o-background-size: 65%;
  background-size: 65%;
  padding: 115px 0; }
  .aboutme__text {
    display: block;
    float: left;
    width: 30%;
    padding-left: 5%; }
    .aboutme__text h3 {
      color: #2c2d37;
      font-size: 30px;
      margin: 20px 0; }
    .aboutme__text b {
      font-family: "Arial";
    }
    .aboutme__text p {
      color: #4f4f51;
      font-size: 16px;
      font-family: "Arial";
      font-weight: bold; }
    .aboutme__text a {
      display: block;
      float: left;
      color: #fff;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      width: 124px;
      height: 36px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #37bbdd;
      line-height: 38px;
      text-decoration: none;
      margin-top: 25px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .aboutme__text a:hover {
        background-color: #21a0c0; }
    .aboutme__text--line {
      display: block;
      float: left;
      background-image: url("../img/waves-copy.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      width: 92px;
      height: 7px; }
  .aboutme__photo {
    display: block;
    float: left;
    position: relative;
    width: 55%;
    height: 350px;
    padding: 0 5%; }
    .aboutme__photo--front {
      position: absolute;
      overflow: hidden;
      width: 318px;
      height: 318px;
      z-index: 9;
      bottom: 0;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .aboutme__photo--front:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .aboutme__photo--front img {
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
    .aboutme__photo--back {
      position: absolute;
      overflow: hidden;
      width: 650px;
      height: 459px;
      right: 5%;
      top: -160px; }
      .aboutme__photo--back:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .aboutme__photo--back img {
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }

.services {
  display: inline-block;
  width: 100%;
  background-color: #2E3B47;
  padding: 75px 0; }
  .services__arrow {
    display: block;
    margin: 0 auto;
    width: 81px;
    height: 7px;
    background-image: url("../img/waves-copy 2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .services__container {
    width: 1140px;
    background-color: #3C4B57; }
    .services__container__col {
      width: 33.33333%;
      display: block;
      float: left; }
  .services__img {
    width: 100%;
    height: 380px;
    overflow: hidden;
    text-align: center;
    word-spacing: nowrap;
    vertical-align: middle; }
    .services__img:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .services__img img {
      max-width: 100%;
      min-height: 100%;
      vertical-align: middle; }
  .services__text {
    text-align: center;
    height: 380px;
    display: flex;
    padding: 0 40px; }
    .services__text h4 {
      color: #53ddc1;
      font-family: "BebasNeue_Bold";
      font-size: 27px;
      margin-top: 0; }
    .services__text p {
      color: #fff;
      font-size: 22px; }
    .services__text--box {
      margin: auto; }

.store, .materials {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 75px 0; }
  .store__arrow {
    background-image: url("../img/waves-copy 5.png");
    display: block;
    margin: 0 auto;
    width: 81px;
    height: 7px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .store h1, .materials h1 {
    color: #2c2d37; }
  .store__box {
    display: block;
    float: left;
    position: relative;
    width: 18%;
    margin: 0 1%;
    height: 430px;
    overflow: hidden;
    word-spacing: nowrap;
    vertical-align: middle;
    z-index: 0; }
    .store__box:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .store__box img {
      height: 100%;
      width: 100%;
      vertical-align: middle; }
    .store__box--text {
		max-height: 285px;
		overflow: hidden;
      position: absolute;
      display: block;
      top: 95px;
      z-index: 9;
      opacity: 0.5;
      background-color: black;
      padding: 0 10px; }
      .store__box--text h4 {
        color: #FFF;
        font-size: 30px;
        font-family: "BebasNeue_Bold";
        text-align: left;
        margin-bottom: 0;
        margin-top: 0; }
      .store__box--text p {
        color: #FFF;
        font-size: 16px;
        text-align: left; }
    .store__box--price {
      z-index: 9;
      display: block;
      position: absolute;
      bottom: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      height: 64px;
      line-height: 64px;
      opacity: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .store__box--price h4 {
        color: #fff;
        font-size: 30px;
        font-family: "BebasNeue_Bold";
        margin: 0; }
    .store__box--stars {
      position: absolute;
      height: 50px;
      margin-top: 5px;
      margin-left: 10px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      opacity: 0; }
      .store__box--stars span {
        display: block;
        float: left;
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        -webkit-background-size: 525%;
        -o-background-size: 525%;
        background-size: 525%; }
      .store__box--stars .star-gld {
        background: url("../img/Layer-4-1.png") -8px -9px; }
      .store__box--stars .star-wht {
        background: url("../img/Layer-4.png") -8px -9px; }
  .store a:hover .store__box--price, .materials a:hover .store__box--price, .store a:hover .store__box--stars, .materials a:hover .store__box--stars {
    opacity: 1; }
.store__box--block{
  text-align: center;
  height: 380px;
  top: 0;
}
.store__box--more{
  width: 80px;
  bottom: 0;
  display: block;
  margin: 10px auto;
}
.single__buttons{
  text-align: center;
}
.store-single{
  padding: 30px;
}
.store-single-text{
  color: #4f4f51;
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
  margin: 20px 0;
}
.single__buttons a{
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
}
.materials {
  padding-top: 0; }
  .materials h2 {
    color: #000;
    margin-top: 10px; }
  .materials h1 {
    margin-bottom: 0; }

.reviews {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 75px 0 225px;
  background-image: url("../img/Curves-1 copy.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .reviews__arrow {
    display: block;
    margin: 0 auto;
    background-image: url("../img/waves-copy 3.png");
    width: 84px;
    height: 7px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .reviews h1 {
    margin-top: 10px; }
  .reviews__box {
    display: block;
    float: left;
    width: 50%;
    color: #FFF;
    position: relative;
    font-family: "HelveticaNeueCyrLight"; }
    .reviews__box p {
      font-size: 17px;
      padding: 50px 50px 15px 0;
      font-weight: 200;
      background-image: url("../img/ap.png");
      background-repeat: no-repeat;
      background-position: 0 0; }
    .reviews__box--author p {
      padding: 0;
      background: none;
      margin: 0; }
    .reviews__box--author-img {
      display: block;
      float: left;
      margin-right: 15px;
      width: 66px;
      height: 66px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      vertical-align: middle; }
      .reviews__box--author-img:after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .reviews__box--author-img img {
        max-width: 100%;
        min-height: 100%;
        vertical-align: middle; }
    .reviews__box--author h4 {
      margin-top: 15px;
      margin-bottom: 5px; }

.contactme {
  width: 70%;
  position: relative;
  padding: 50px 0; }
  .contactme h1 {
    color: #525252; }
  .contactme__form {
    display: block;
    float: left;
    position: relative;
    width: 85%; }
    .contactme__form--input {
      display: block;
      float: left;
      width: 44%;
      height: 36px;
      line-height: 36px;
      padding: 5px 8px;
      margin: 20px 2%;
      border: none;
      border-bottom: 2px solid #aeacac;
      color: #525252;
      font-size: 15px;
      outline: none;
      font-family: "BebasNeue_Regular";
      position: relative; }
    .contactme__form--text {
      display: block;
      float: left;
      width: 94%;
      height: 36px;
      line-height: 36px;
      margin: 20px 2%;
      padding: 5px 8px;
      border: none;
      border-bottom: 2px solid #aeacac;
      resize: none;
      outline: none;
      color: #525252;
      font-size: 15px;
      font-family: "BebasNeue_Regular"; }
    .contactme__form--sub, #bbp_topic_submit {
      display: block;
      float: right;
      width: 132px;
      height: 36px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      border: 1px solid #43D9E5;
      margin: 44px 2% 20px 0;
      font-size: 15px;
      outline: none;
      color: #525252;
      font-family: "BebasNeue_Regular";
      cursor: pointer; }
      .contactme__form--sub:hover, #bbp_topic_submit:hover, .contactme__form--sub:active, #bbp_topic_submit:active, .contactme__form--sub:focus, #bbp_topic_submit:focus {
        background-color: #43D9E5;
        color: #fff; }
  .contactme__forum {
    display: block;
    float: left;
    height: 252px;
    position: relative; }
    .contactme__forum a {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 10px;
      float: left;
      color: #fff;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      width: 131px;
      height: 36px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #37bbdd;
      line-height: 38px;
      text-decoration: none;
      margin-top: 25px;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .contactme__forum a:hover {
        background-color: #21a0c0; }

.contactinfo {
  display: block;
  float: left;
  width: 100%;
  background-image: url("../img/MAP.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .contactinfo__block {
    display: block;
    float: left;
    background-color: #2B353A;
    padding: 75px 40px;
    color: #fff; }
    .contactinfo__block h3 {
      color: #fff;
      font-family: "BebasNeue_Bold";
      font-size: 20px;
      margin-bottom: 20px; }
    .contactinfo__block a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .contactinfo__block p {
      color: #fff;
      font-size: 16px;
      padding: 15px 0 15px 50px;
      margin-top: 10px;
      background-repeat: no-repeat; }

.single {
  display: block;
  width: 100%;
  margin: 75px 0; }

.footer {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: #293031;
  height: 85px;
  padding-top: 25px; }
  .footer h5 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
