.footer {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: #293031;
	height: 85px;
	padding-top: 25px;
	h5 {
		color: #fff;
		font-size: 18px;
		text-align: center;
		vertical-align: middle;
		font-weight: 400;
		margin-top: 20px;
	}
}