.entry {
	display: block;
	width: 100%;
	position: relative;
	height: 750px;
	background-image: url("../img/entry-1.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	z-index: 0;
	&__text {
		position: absolute;
		top: 225px;
		width: 50%;
		right: 5%;
		color: #FFF;
		h1 {			
			font-size: 86px;
			font-family: $bold;
			text-align: right;
			margin-bottom: 0;
			letter-spacing: 2px;
		}
		h3 {
			font-family: $light;
			font-size: 40px;
			text-align: right;
			margin: 0 0 10px 0;
		}
		p {
			margin: 35px 0 0;
			font-size: 34px;
			font-family: $book;
			float: right;			
		}
	}
}

.aboutme {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: #F5F4F4;
	background-image: url("../img/Vector-Smart Object.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	-webkit-background-size: 65%;
	     -o-background-size: 65%;
	        background-size: 65%;
	padding: 115px 0;
	&__text {
		display: block;
		float: left;
		width: 30%;
		padding-left: 5%;
		h3 {
			color: #2c2d37;
			font-size: 30px;
			margin: 20px 0;
		}
		p {
			color: #4f4f51;
			font-size: 16px;
			font-family: $book;
			font-weight: bold;
		}
		a {			
			display: block;			
			float: left;
			color: #fff;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			width: 124px;
			height: 36px;
			@include background-clip(padding-box);
			background-color: #37bbdd;
			line-height: 38px;
			text-decoration: none;
			margin-top: 25px;
			@include transition(0.3s);
			&:hover {
				background-color: darken(#37bbdd, 10%);
			}
		}
		&--line {
			display: block;
			float: left;
			background-image: url("../img/waves-copy.png");
			background-repeat: no-repeat;
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			width: 92px;
			height: 7px;			
		}
	}
	&__photo {
		display: block;
		float: left;
		position: relative;
		width: 55%;
		height: 350px;
		padding: 0 5%;
		&--front {
			position: absolute;
			overflow: hidden;
			width: 318px;
			height: 318px;
			z-index: 9;
			bottom: 0;
			text-align: center;
			word-spacing: nowrap;
			vertical-align: middle;
			&:after {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				max-width: 100%;
				min-height: 100%;
				vertical-align: middle;
			}
		}
		&--back {
			position: absolute;
			overflow: hidden;
			width: 650px;
			height: 459px;
			right: 5%;
			top: -160px;
			&:after {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				max-width: 100%;
				min-height: 100%;
				vertical-align: middle;
			}
		}
	}
}

.services {
	display: inline-block;
	width: 100%;
	background-color: #2E3B47;
	padding: 75px 0;
	&__arrow {
		display: block;
		margin: 0 auto;
		width: 81px;
		height: 7px;
		background-image: url("../img/waves-copy 2.png");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	&__container {
		@extend .contain;
		width: 1140px;
		background-color: #3C4B57;
		&__col {
			width: 1 / 3 * 100%;
			display: block;
			float: left;				
		}
	}
	&__img {
		width: 100%;
		height: 380px;
		overflow: hidden;
		text-align: center;
		word-spacing: nowrap;
		vertical-align: middle;
		&:after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			min-height: 100%;
			vertical-align: middle;
		}
	}
	&__text {
		text-align: center;
		height: 380px;
		display: flex;	
		padding: 0 40px;	
		h4 {
			color: #53ddc1;
			font-family: $bold;
			font-size: 27px;
			margin-top: 0;
		}
		p {
			color: #fff;
			font-size: 22px;
		}
		&--box {
			margin: auto;
		}
		
	}
}

.store {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 75px 0;
	&__arrow {
		background-image: url("../img/waves-copy 5.png");
		display: block;
		margin: 0 auto;
		width: 81px;
		height: 7px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	h1 {
		color: #2c2d37;
	}
	&__box {
		display: block;
		float: left;
		position: relative;
		width: 18%;
		margin: 0 1%;
		height: 380px;
		overflow: hidden;
		text-align: center;
		word-spacing: nowrap;
		vertical-align: middle;
		z-index: 0;
		&:after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		img {
			vertical-align: middle;
		}
		&--text {
			position: absolute;
			display: block;
			top: 150px;
			z-index: 9;
			padding: 0 10px;
			h4 {				
				color: #FFF;
				font-size: 30px;
				font-family: $bold;
				text-align: left;
				margin-bottom: 0;
				margin-top: 0;
			}
			p {				
				color: #FFF;
				font-size: 16px;
				text-align: left;
			}
		}
		&--price {
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			background: rgba(0, 0, 0, 0.4);
			height: 64px;			
			line-height: 64px;
			opacity: 0;
			@include transition(0.3s);
			h4 {
				color: #fff;
				font-size: 30px;
				font-family: $bold;
				margin: 0;
			}
		}
		&--stars {
			position: absolute;
			height: 50px;
			margin-top: 5px;
			margin-left: 10px;
			@include transition(0.3s);
			opacity: 0;
			span {
				display: block;
				float: left;
				height: 20px;
				width: 20px;
				background-repeat: no-repeat;
				-webkit-background-size: 525%;
				     -o-background-size: 525%;
				        background-size: 525%;
			}
			.star-gld {
				background: url("../img/Layer-4-1.png") -8px -9px;
			}
			.star-wht {
				background: url("../img/Layer-4.png") -8px -9px;
			}
		}
	}
	a {
		&:hover {
			.store__box--price, .store__box--stars {
				opacity: 1;
			}
		}
	}
}

.materials {
	@extend .store;
	padding-top: 0;
	h2 {
		color: #000;
		margin-top: 10px;
	}
	h1 {
		margin-bottom: 0;
	}
}

.reviews {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 75px 0 225px;
	background-image: url("../img/Curves-1 copy.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	&__arrow {
		display: block;
		margin: 0 auto;
		background-image: url("../img/waves-copy 3.png");
		width: 84px;
		height: 7px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	h1 {
		margin-top: 10px;
	}
	&__box {
		display: block;
		float: left;
		width: 50%;
		color: #FFF;
		position: relative;
		font-family: $helv;
		p {
			font-size: 17px;
			padding: 50px 50px 15px 0;
			font-weight: 200;			
			background-image: url("../img/ap.png");
			background-repeat: no-repeat;			
			background-position: 0 0;
		}
		&--author {
			p {
				padding: 0;
				background: none;				
				margin: 0;
			}
			&-img {
				display: block;
				float: left;
				margin-right: 15px;
				width: 66px;
				height: 66px;
				@include border-radius(50%);
				overflow: hidden;
				text-align: center;
				word-spacing: nowrap;
				vertical-align: middle;
				&:after {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				img {
					max-width: 100%;
					min-height: 100%;
					vertical-align: middle;
				}
				
			}
			h4 {
				margin-top: 15px;
				margin-bottom: 5px;
			}
		}
	}
}

.contactme {
	@extend .contain;
	width: 70%;
	position: relative;
	padding: 50px 0;
	h1 {
		color: #525252;
	}
	&__form {
		display: block;
		float: left;
		position: relative;
		width: 85%;
		&--input {
			display: block;
			float: left;
			width: 44%;
			height: 36px;
			line-height: 36px;
			padding: 5px 8px;
			margin: 20px 2%;
			border: none;
			border-bottom: 2px solid #aeacac;
			color: #525252;
			font-size: 15px;
			outline: none;
			font-family: $regular;
			position: relative;		
		}
		&--text {
			display: block;
			float: left;
			width: 94%;
			height: 36px;
			line-height: 36px;
			margin: 20px 2%;
			padding: 5px 8px;
			border: none;
			border-bottom: 2px solid #aeacac;
			resize: none;
			outline: none;
			color: #525252;
			font-size: 15px;
			font-family: $regular;		
		}
	 	&--sub {
			display: block;
			float: right;
			width: 132px;
			height: 36px;
			text-align: center;
			background-color: rgba(255, 255, 255, 0);
			@include transition(0.3s);
			border: 1px solid #43D9E5;
			margin: 20px 2% 20px 0;
			font-size: 15px;
			outline: none;
			color: #525252;
			font-family: $regular;
			cursor: pointer;
			&:hover, &:active, &:focus {
				background-color: #43D9E5;
				color: #fff;
			}
		}
	}
	&__forum {
		display: block;
		float: left;
		height: 252px;
		position: relative;
		a {
			display: block;
			position: absolute;
			bottom: 20px;
			left: 10px;
			float: left;
			color: #fff;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			width: 131px;
			height: 36px;
			@include background-clip(padding-box);
			background-color: #37bbdd;
			line-height: 38px;
			text-decoration: none;
			margin-top: 25px;
			@include transition(0.3s);
			&:hover {
				background-color: darken(#37bbdd, 10%);
			}
		}
	} 
	 
}

.contactinfo {
	display: block;
	float: left;
	width: 100%;
	background-image: url("../img/MAP.png");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	&__block {
		display: block;
		float: left;
		background-color: #2B353A;
		padding: 75px 40px;
		color: #fff;
		h3 {
			color: #fff;
			font-family: $bold;
			font-size: 20px;
			margin-bottom: 20px;
		}
		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin-right: 10px;
			margin-bottom: 15px;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
		}
		p {
			color: #fff;
			font-size: 16px;
			padding: 15px 0 15px 50px;
			margin-top: 10px;
			background-repeat: no-repeat;
		}
	}
}