.button-buy {
	display: inline-block;
	background-image: url("../img/marker20.png");
	width: 25px;
	height: 23px;
	margin: 0 25px;
	&:hover {
		background-image: url("../img/marker20-1.png");
	}
}

.button-search {
	display: inline-block;
	background-image: url("../img/magnifier13.png");
	width: 23px;
	height: 23px;	
	&:hover {
		background-image: url("../img/magnifier13-1.png");
	}
}	